.contactWrapper{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.socialsSection{
    flex: 1;
    padding: 1rem;
    color: white;
}

.formSection{
    flex: 1;
    padding: 1rem;
}

.socials{
    text-align: left;
    font-size: 20px;
}

.socials span{
    color:#673ab7;
}

.socials .social span{
    color: #673ab7;
}

.socials .social span a{
    text-decoration: none;
    color: #673ab7;
}
