.contactWrapper{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.socialsSection{
    flex: 1;
    padding: 1rem;
    color: white;
}

.formSection{
    flex: 1;
    padding: 1rem;
}