.skillsWrapper{
    color: #e2ba4d;
    width: 100%;
    text-align: center;
}

.skillSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.skill{
    padding-left: 20px;
    padding-right: 20px;

    margin-right: 10px;
    margin-left: 10px;
}